:root {
  font-family: Roboto !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay !important;
  overscroll-behavior: none !important;
}

body {
  font-family: Roboto !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #564f7c;
}

::-webkit-scrollbar-thumb {
  background: #393553;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d1b2b;
}

@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./bootstrap-custom.scss";